.forAll {
    background-color: #232323;
}

.forText {
    color: #232323;
    font-family: Helvetica, sans-serif;
}

.forButtons {
    font-size: medium;
    font-family: Helvetica, sans-serif;
    border: 1px solid #ced4da;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.forButtons:hover {
    background-color: #ced4da;

}

.forTables {
    border: 1px solid #ced4da;
}

span {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.form-control {
    resize: none;
}