<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Главная</a>
            <div>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Добавить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Информация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>