<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>


<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-dark forAll forText">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Главная</a>
            <div>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/add">Добавить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Информация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</html>